body {
  font-family: 'Varela Round', sans-serif;
}

.carousel-inner img {
  margin-top: 56px;
  width: 100%;
  height: 100%;
}

.form-wrapper {
  padding: 10px;
  width: 300px;
}

.dropdown-toggle:after {
  border: none;
}

.form-text {
  text-align: center;
  padding-top: 10px;
}